<!DOCTYPE html>
<html>

<head>
    <title>Tweet Search Map</title>
</head>

<body>
    <a href="https://github.com/kimasx/twtr-search-map">About</a>
    <br>
  <h2>See Tweets, Real-Time!</h2>
    <form method="POST" action="{{ url_for('streamTweets')}}">
      <input type="text" name="tweet" placeholder="Type keyword(s) here"/>
      <input type="submit" class='btn' value="Search"/>
    </form>
    <div id='map-canvas'></div>

    <!-- external js files -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAgHGngRMEYNutNzEsxW7je4Tkx3nw_tQ"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js" ></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js" ></script>
    
    <script src="{{ url_for('static', filename='backbone_script.js') }}" ></script>
    <script src="{{ url_for('static', filename='markers.js') }}" ></script>
   
 
    <!-- stylesheets -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</body>

</html>
