<!DOCTYPE html>
<html>


<head>
    <title>Tweet Search Map</title>

	<!-- external js files -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAgHGngRMEYNutNzEsxW7je4Tkx3nw_tQ"></script>
    <script src="{{ url_for('static', filename='google_map.js') }}" async></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js" async></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js" async></script>
    <!-- stylesheets -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>

</head>

<body>



  <h2>See Tweets, Real-Time!</h2>
    <form method="POST" action="/search">
      <input type="text" name="tweet" placeholder="Type keyword(s) here"/>
      <input type="submit" class='btn' value="Search"/>
    </form>
    <div id='map-canvas'></div>
    
    <script type="text/javascript">
        // listen for events from /stream decorator
        var source = new EventSource(
            "/stream"
        );
        source.onmessage = function(event)
        {
            console.log(event.data);
        };
    </script>
    

</body>


</html>
